:root {
  --body-color: black;
  --search-background-color: white;
  --behind-search-background-color:  yellow;
  --th-color: rgba(173, 216, 230, 0.895);
  --tr-color: darkblue;
  --table-font-color: white;
  }
  
  * {
    color: black;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }
  
  html {
    font-family: Courier, Helvetica, Verdana;
   scroll-behavior: smooth;
  }
  
  body {
    background: var(--body-color);
  }
  
  header {
    margin: 30px auto;
  }
  
  h1 {
    color:white;
    margin-bottom: 20px;
  }
  
  #search-background {
    background: var(--search-background-color);
    width: 100%;
    height: 100%;
    border-radius: 15px; /*  45px / 20px  Horizontal radius / Vertical radius */
    position: absolute;
    top: -15px;
    left: -15px;
    border: solid;
  }
  
  #behind-search-background {
    background: var(--behind-search-background-color);
    width: 450px;
    max-width: 450px;
    height: 900px;
    border-radius: 15px;
    position: relative;
  }
  
  p {
    margin: 20px auto;
  }
  
  input, button {
    height: 35px;
  }
  
  input {
    width: 200px;
    border: solid 2px;
    border-radius: 8px;
    font-size: 1.1em;
  }
  
  button {
    width: 40px;
    border-radius: 10px;
    background: rgba(128, 201, 226, 0.471);
  }
  
  button:hover {
     background: linear-gradient(rgba(128, 201, 226, 0.121), rgba(128, 201, 226, 0.471)); 
  }
  
  #search-section {
    height: 10%;
  }
  
  #result-section {
    height: 80%;
    font-family: Arial;
  }
  
  #pokemon-card {
    height: 50%;
    width: 90%;
    background: rgba(128, 128, 128, 0.094);
    position: relative;
  }
  
  #pokemon-name-id-tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-weight: bold;
  }
  
  #pokemon-img-container {
      position: absolute;
    top: 50px;
    left: 0;
    padding: 5px;
    height: 250px;
    width: 100%;
  }
  
  img {
    width: 50%;
    height: 100%;
    /*cursor: not-allowed;*/
  }
  
  #pokemon-height-weight-tag {
    position: absolute;
    top: 40px;
    left: 0;
    padding-left: 10px;
  }
  
  #types {
    height: 90px;
    position: absolute;
    top: 308px;
    left: 0;
    padding-left: 13px;
    display: flex;
    column-gap: 10px;
  }
  
   /*For the dynamic types */
  .types {
    display: inline;
    height: 35px;
    width: 84px;
    border-radius: 10px;
    vertical-align: center;
    padding: 8px;
    font-size: 0.9rem;
  }
  
  #bug {
    background: rgb(158, 170, 73);
    color: white;
  }
  
  #dark {
    background: rgb(62, 62, 74);
    color: white;
  }
  
  #dragon {
    background: rgb(70, 70, 190);
    color: white;
  }
  
  #electric {
    background: yellow;
  }
  
  #fairy {
    background: rgb(241, 180, 241);
  }
  
  #fighting {
    background: orange;
    color: white;
  }
  
  #fire {
    background: rgb(212, 14, 47);
    color: white;
  }
  
  #flying {
    background: rgba(148, 209, 239, 0.471);
  }
  
  #ghost {
    background: rgba(103, 12, 105, 0.998);
    color: white;
  }
  
  #grass {
    background: rgb(50, 235, 26);
  }
  
  #ground {
    background: rgba(115, 51, 51, 0.909);
    color: white;
  }
  
  #ice {
    background: rgb(89, 208, 248);
  }
  
  #normal {
    background: rgb(186, 185, 182);
  }
  
  #psychic {
    background: rgb(238, 125, 144);
  }
  
  #poison {
    background: rgba(169, 36, 171, 0.998);
    color: white;
  }
  
  #rock {
    background: rgba(178, 192, 132, 0.998);
  }
  
  #steel {
    background: rgb(113, 163, 232);
    color: white;
  }
  
  #water {
    background: rgb(50, 107, 221);
    color: white;
  }
  
  
  #pokemon-features-table-container {
    padding: 8px;
  }
  
  table {
    width: 93%;
      border-collapse: separate;
      border-spacing: 4px;
  }
  
  th {
    background: var(--th-color);
    color: black;
    padding: 15px;
    font-size: 1.4rem;
  
  }
  
  tr, td {
    padding: 15px;
    color: var(--table-font-color);
    background: var(--tr-color);
    font-size: 1.2rem;
  }
  
  
  /*MEDIA*/
  
  @media screen and (max-width: 480px) {
    #behind-search-background {
    width: 280px;
    height: 980px;
  }
  #types {
    top: 338px;
  }
  }